openapi: 3.1.0
info:
  title: Wingspan Payments API
  description: Payments
  termsOfService: 'https://www.wingspan.app'
  contact:
    name: Wingspan API Support
    url: 'https://www.wingspan.app'
    email: support@wingspan.app
  license:
    name: UNLICENSED
    url: 'https://UNLICENSED'
  version: 1.0.0
servers:
  - url: 'https://api.wingspan.app'
    description: Wingspan's Payments API in Production
    x-speakeasy-server-id: prod
  - url: 'https://stagingapi.wingspan.app'
    description: Wingspan's Payments API in Staging
    x-speakeasy-server-id: prod
x-speakeasy-name-override:
  - operationId: ^get.*
    methodNameOverride: get
  - operationId: ^add.*
    methodNameOverride: add
  - operationId: ^remove.*
    methodNameOverride: remove
  - operationId: ^create.*
    methodNameOverride: create
  - operationId: ^replace.*
    methodNameOverride: replace
  - operationId: ^delete.*
    methodNameOverride: delete
  - operationId: ^fetch.*
    methodNameOverride: fetch
  - operationId: ^list.*
    methodNameOverride: list
  - operationId: ^post.*
    methodNameOverride: post
  - operationId: ^update.*
    methodNameOverride: update
  - operationId: ^patch.*
    methodNameOverride: patch
  - operationId: ^download.*
    methodNameOverride: download
  - operationId: ^generate.*
    methodNameOverride: generate
  - operationId: ^send.*
    methodNameOverride: send
  - operationId: ^exchange.*
    methodNameOverride: exchange
  - operationId: ^remail.*
    methodNameOverride: remail
  - operationId: ^calculate.*
    methodNameOverride: calculate
  - operationId: ^mark.*
    methodNameOverride: mark
  - operationId: ^execute.*
    methodNameOverride: execute
security: []
components:
  schemas:
    PayablesSummary:
      type: object
      properties:
        totalOpen:
          type: number
        totalOverdue:
          type: number
        totalApproved:
          type: number
        totalPaid:
          type: number
        invoicesOpen:
          type: number
        invoicesOverdue:
          type: number
        invoicesApproved:
          type: number
        invoicesPaid:
          type: number
        invoicesDraft:
          type: number
        invoicesPending:
          type: number
        memberId:
          type: string
      required:
        - totalOpen
        - totalOverdue
        - totalApproved
        - totalPaid
        - invoicesOpen
        - invoicesOverdue
        - invoicesApproved
        - invoicesPaid
        - invoicesDraft
        - invoicesPending
        - memberId
    PayableSchema:
      type: object
      properties:
        payableId:
          type: string
        notificationPreferences:
          $ref: '#/components/schemas/InvoiceNotificationPreferences'
        collaboratorId:
          type: string
        clientId:
          type: string
        memberId:
          type: string
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        amount:
          type: number
        attachments:
          $ref: '#/components/schemas/InvoiceAttachments'
        bankTransferInfo:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/BankAccount'
        internationalBankTransferInfo:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/BankAccount'
        chargedFees:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Fees'
        client:
          $ref: '#/components/schemas/ClientOptions'
        member:
          $ref: '#/components/schemas/MemberOptions'
        creditFeeHandling:
          $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          type: string
          enum:
            - USD
            - CAD
        dueDate:
          type: string
        events:
          $ref: '#/components/schemas/InvoiceEvents'
        invoiceNotes:
          type: string
        invoiceNumber:
          type: string
        invoiceTemplateId:
          type: string
        lateFeeHandling:
          $ref: '#/components/schemas/LateFeeConfig'
        integration:
          $ref: >-
            #/components/schemas/6b94b58d661f3eabc1444a7a43ac4b99580f0d050123b7bf38184e2f0d7bd66e
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        memberAddress:
          $ref: '#/components/schemas/Address'
        memberFormattedAddressLines:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        sourceId:
          oneOf:
            - type: 'null'
            - type: string
        status:
          type: string
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
        metadata:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceMetadata'
        nextPayrollExecutionDate:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ScheduleDate'
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
      required:
        - payableId
        - notificationPreferences
        - collaboratorId
        - clientId
        - memberId
        - amount
        - attachments
        - client
        - member
        - creditFeeHandling
        - currency
        - dueDate
        - events
        - invoiceNotes
        - invoiceNumber
        - invoiceTemplateId
        - lateFeeHandling
        - integration
        - lineItems
        - memberAddress
        - status
        - userRoles
        - createdAt
        - updatedAt
        - labels
    PayableCreateRequest:
      type: object
      properties:
        dueDate:
          type: string
        creditFeeHandling:
          $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - USD
                - CAD
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        collaboratorId:
          type: string
        attachments:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2
        metadata:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceMetadata'
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        client:
          oneOf:
            - type: 'null'
            - type: object
        member:
          oneOf:
            - type: 'null'
            - type: object
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        lateFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LateFeeConfigUpdate'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Draft
                - Open
                - Overdue
                - Cancelled
                - Pending
                - PaymentInTransit
                - Paid
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        notificationPreferences:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        memberClientId:
          oneOf:
            - type: 'null'
            - type: string
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461
      required:
        - dueDate
        - creditFeeHandling
        - lineItems
        - collaboratorId
    PayableUpdateRequest:
      type: object
      properties:
        chargedFees:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Fees'
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        paymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        collaborators:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/InvoiceCollaboratorUpdateRequest'
        lineItems:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        attachments:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2
        metadata:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceMetadata'
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        client:
          oneOf:
            - type: 'null'
            - type: object
        member:
          oneOf:
            - type: 'null'
            - type: object
        dueDate:
          oneOf:
            - type: 'null'
            - type: string
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        lateFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LateFeeConfigUpdate'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Draft
                - Open
                - Overdue
                - Cancelled
                - Pending
                - PaymentInTransit
                - Paid
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        notificationPreferences:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        memberClientId:
          oneOf:
            - type: 'null'
            - type: string
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461
    Invoice:
      type: object
      properties:
        amountDetails:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceAmountDetails'
        withholdings:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceWithholdings'
        payoutDestinations:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/InvoicePayoutDestination'
        collaborators:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/InvoiceCollaborator'
        parentInvoiceId:
          oneOf:
            - type: 'null'
            - type: string
        notificationPreferences:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        memberClientId:
          type: string
        clientId:
          oneOf:
            - type: 'null'
            - type: string
        deductions:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/InvoiceAppliedDeductions'
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        invoiceId:
          type: string
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        amount:
          type: number
        attachments:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceAttachments'
        bankTransferInfo:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/BankAccount'
        internationalBankTransferInfo:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/BankAccount'
        chargedFees:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Fees'
        processingFees:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ProcessingFees'
        client:
          $ref: '#/components/schemas/ClientOptions'
        member:
          $ref: '#/components/schemas/MemberOptions'
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          type: string
          enum:
            - USD
            - CAD
        dueDate:
          type: string
        events:
          $ref: '#/components/schemas/InvoiceEvents'
        paymentInfo:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/PaymentInfo'
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        invoiceNumber:
          type: string
        invoiceTemplateId:
          oneOf:
            - type: 'null'
            - type: string
        lateFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LateFeeConfig'
        metadata:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceMetadata'
        integration:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceIntegrations'
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        memberAddress:
          $ref: '#/components/schemas/Address'
        memberFormattedAddressLines:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        sourceId:
          oneOf:
            - type: 'null'
            - type: string
        status:
          type: string
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
        memberId:
          type: string
        externalIds:
          $ref: '#/components/schemas/ExternalIds'
      required:
        - memberClientId
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - invoiceId
        - amount
        - client
        - member
        - currency
        - dueDate
        - events
        - invoiceNumber
        - lineItems
        - memberAddress
        - status
        - memberId
        - externalIds
    InvoiceCreateRequest:
      type: object
      properties:
        dueDate:
          type: string
        creditFeeHandling:
          $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - USD
                - CAD
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        memberClientId:
          type: string
        collaborators:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/InvoiceCollaboratorCreateRequest'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Draft
                - Open
                - Overdue
                - Cancelled
                - Pending
                - PaymentInTransit
                - Paid
        attachments:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2
        metadata:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceMetadata'
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        client:
          oneOf:
            - type: 'null'
            - type: object
        member:
          oneOf:
            - type: 'null'
            - type: object
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        lateFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LateFeeConfigUpdate'
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        notificationPreferences:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461
      required:
        - dueDate
        - creditFeeHandling
        - lineItems
        - memberClientId
    InvoiceUpdateRequest:
      type: object
      properties:
        chargedFees:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Fees'
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        collaborators:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/InvoiceCollaboratorUpdateRequest'
        lineItems:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        attachments:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/36b041d426951ffff76360faf03ef8ae938bed9739e6ad9f51acb982782296a2
        metadata:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceMetadata'
        client:
          oneOf:
            - type: 'null'
            - type: object
        member:
          oneOf:
            - type: 'null'
            - type: object
        dueDate:
          oneOf:
            - type: 'null'
            - type: string
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        lateFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LateFeeConfigUpdate'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Draft
                - Open
                - Overdue
                - Cancelled
                - Pending
                - PaymentInTransit
                - Paid
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        notificationPreferences:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceNotificationPreferences'
        memberClientId:
          oneOf:
            - type: 'null'
            - type: string
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/3190685832a4970525ea5b0803efff0b36a0202062e1fd8a0bc187acbe156461
    ClientInvoice:
      type: object
      properties:
        additionalRecipientEmails:
          type: array
          items:
            type: string
        createdAt:
          type: string
        memberStripeAccountId:
          type: string
        memberAcceptsPayments:
          type: boolean
        memberClient:
          $ref: '#/components/schemas/MemberClient'
        memberCompany:
          type: string
        memberEmail:
          type: string
        memberLogoUrl:
          type: string
        memberName:
          type: string
        memberPaymentsVersion:
          type: number
        projectName:
          type: string
        updatedAt:
          type: string
        invoiceId:
          type: string
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        amount:
          type: number
        attachments:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceAttachments'
        bankTransferInfo:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/BankAccount'
        internationalBankTransferInfo:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/BankAccount'
        chargedFees:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Fees'
        processingFees:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ProcessingFees'
        client:
          $ref: '#/components/schemas/ClientOptions'
        member:
          $ref: '#/components/schemas/MemberOptions'
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          type: string
          enum:
            - USD
            - CAD
        dueDate:
          type: string
        events:
          $ref: '#/components/schemas/InvoiceEvents'
        paymentInfo:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/PaymentInfo'
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        invoiceNumber:
          type: string
        invoiceTemplateId:
          oneOf:
            - type: 'null'
            - type: string
        lateFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LateFeeConfig'
        metadata:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceMetadata'
        integration:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceIntegrations'
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItem'
        memberAddress:
          $ref: '#/components/schemas/Address'
        memberFormattedAddressLines:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        sourceId:
          oneOf:
            - type: 'null'
            - type: string
        status:
          type: string
          enum:
            - Draft
            - Open
            - Overdue
            - Cancelled
            - Pending
            - PaymentInTransit
            - Paid
      required:
        - additionalRecipientEmails
        - createdAt
        - memberStripeAccountId
        - memberAcceptsPayments
        - memberClient
        - memberCompany
        - memberEmail
        - memberLogoUrl
        - memberName
        - memberPaymentsVersion
        - projectName
        - updatedAt
        - invoiceId
        - amount
        - client
        - member
        - currency
        - dueDate
        - events
        - invoiceNumber
        - lineItems
        - memberAddress
        - status
    ClientInvoiceCreateRequest:
      type: object
      properties:
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        currency:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - USD
                - CAD
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceLineItemsCreateRequest'
        dueDate:
          type: string
        clientEmail:
          type: string
        clientEmailCC:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        clientCompany:
          oneOf:
            - type: 'null'
            - type: string
        clientFirstName:
          oneOf:
            - type: 'null'
            - type: string
        clientLastName:
          oneOf:
            - type: 'null'
            - type: string
        memberId:
          type: string
      required:
        - lineItems
        - dueDate
        - clientEmail
        - memberId
    ClientInvoiceUpdateRequest:
      type: object
      properties:
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Draft
                - Open
                - Overdue
                - Cancelled
                - Pending
                - PaymentInTransit
                - Paid
    PayRequest:
      type: object
      properties:
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        plaidPublicToken:
          oneOf:
            - type: 'null'
            - type: string
    InvoiceTemplate:
      type: object
      properties:
        isSchedulingOnly:
          oneOf:
            - type: 'null'
            - type: boolean
        createdInvoiceId:
          oneOf:
            - type: 'null'
            - type: string
        invoiceData:
          $ref: '#/components/schemas/Invoice'
        invoiceTemplateId:
          type: string
        nextInvoiceDate:
          oneOf:
            - type: 'null'
            - type: string
        lastInvoiceDate:
          oneOf:
            - type: 'null'
            - type: string
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        autoPaymentRequired:
          oneOf:
            - type: 'null'
            - type: boolean
        dueInDays:
          oneOf:
            - type: 'null'
            - type: number
        frequency:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Frequency'
        scheduleDates:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/ScheduleDate'
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        memberId:
          type: string
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
      required:
        - invoiceData
        - invoiceTemplateId
        - status
        - memberId
        - userRoles
        - createdAt
        - updatedAt
        - labels
    InvoiceTemplateCreateRequest:
      type: object
      properties:
        isSchedulingOnly:
          oneOf:
            - type: 'null'
            - type: boolean
        frequency:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Frequency'
        scheduleDates:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/ScheduleDate'
        invoiceData:
          $ref: '#/components/schemas/InvoiceDataCreateRequest'
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        sendEmails:
          oneOf:
            - type: 'null'
            - type: boolean
        dueInDays:
          oneOf:
            - type: 'null'
            - type: number
      required:
        - invoiceData
        - status
    InvoiceTemplateUpdateRequest:
      type: object
      properties:
        isSchedulingOnly:
          oneOf:
            - type: 'null'
            - type: boolean
        frequency:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FrequencyUpdate'
        scheduleDates:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/ScheduleDateUpdate'
        invoiceData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceUpdateRequest'
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Draft
                - Expired
                - Cancelled
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        autoPaymentRequired:
          oneOf:
            - type: 'null'
            - type: boolean
        sendEmails:
          oneOf:
            - type: 'null'
            - type: boolean
        dueInDays:
          oneOf:
            - type: 'null'
            - type: number
    ClientInvoiceTemplate:
      type: object
      properties:
        clientId:
          type: string
        invoiceData:
          $ref: '#/components/schemas/ClientInvoice'
        frequency:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Frequency'
        scheduleDates:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleDate'
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        invoiceTemplateId:
          type: string
        nextInvoiceDate:
          type: string
        createdInvoiceId:
          oneOf:
            - type: 'null'
            - type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        dueInDays:
          oneOf:
            - type: 'null'
            - type: number
        memberId:
          type: string
      required:
        - clientId
        - invoiceData
        - scheduleDates
        - status
        - invoiceTemplateId
        - nextInvoiceDate
        - createdAt
        - updatedAt
        - memberId
    ClientInvoiceTemplateCreateRequest:
      type: object
      properties:
        invoiceData:
          $ref: '#/components/schemas/ClientInvoiceDataCreateRequest'
        frequency:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Frequency'
        scheduleDates:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/ScheduleDate'
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        dueInDays:
          oneOf:
            - type: 'null'
            - type: number
        clientEmail:
          type: string
        clientEmailCC:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        clientCompany:
          oneOf:
            - type: 'null'
            - type: string
        clientFirstName:
          oneOf:
            - type: 'null'
            - type: string
        clientLastName:
          oneOf:
            - type: 'null'
            - type: string
        memberId:
          type: string
      required:
        - invoiceData
        - status
        - clientEmail
        - memberId
    ClientInvoiceTemplateUpdateRequest:
      type: object
      properties:
        accountId:
          oneOf:
            - type: 'null'
            - type: string
        paymentMethodId:
          oneOf:
            - type: 'null'
            - type: string
        clientId:
          type: string
      required:
        - clientId
    InvoicePdfGenerationResponse:
      type: object
      properties:
        invoiceId:
          type: string
        attachments:
          $ref: '#/components/schemas/InvoiceAttachments'
      required:
        - invoiceId
        - attachments
    MccResponse:
      type: object
      properties:
        title:
          type: string
        code:
          type: string
      required:
        - title
        - code
    MemberClientSchema:
      type: object
      properties:
        memberClientId:
          type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        name:
          oneOf:
            - type: 'null'
            - type: string
        clientId:
          type: string
        emailTo:
          type: string
        emailCC:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        client:
          $ref: '#/components/schemas/RedactedMember'
        achCreditAccount:
          $ref: '#/components/schemas/MemberClientWireAccount'
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/3d33fba3f009de957b3be92fba006d6383af7e39f823cc1fd213506f6205100f
        collaboratorGroupIds:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        eligibilityRequirements:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/MemberClientRequirementResponse'
        internationalWireAccount:
          $ref: '#/components/schemas/MemberClientWireAccount'
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        form1099Balances:
          $ref: >-
            #/components/schemas/b9789f45f8c8070ff38a64d80c2e4a8732ddaf329e46546474400d26f84c0f1c
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
      required:
        - memberClientId
        - clientId
        - emailTo
        - client
        - achCreditAccount
        - internationalWireAccount
        - status
        - form1099Balances
        - userRoles
        - createdAt
        - updatedAt
        - labels
    MemberClientCreateRequest:
      type: object
      properties:
        memberId:
          oneOf:
            - type: 'null'
            - type: string
        clientId:
          oneOf:
            - type: 'null'
            - type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        name:
          oneOf:
            - type: 'null'
            - type: string
        emailTo:
          oneOf:
            - type: 'null'
            - type: string
        emailCC:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/d750b2d9403b5bcbdb3c96c89f1cc713df563d587f16e5f39f5ab546c08a20a0
        memberData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberData'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Inactive
                - Pending
    MemberClientUpdateRequest:
      type: object
      properties:
        clientId:
          oneOf:
            - type: 'null'
            - type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        name:
          oneOf:
            - type: 'null'
            - type: string
        emailTo:
          oneOf:
            - type: 'null'
            - type: string
        emailCC:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Inactive
                - Pending
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/3d33fba3f009de957b3be92fba006d6383af7e39f823cc1fd213506f6205100f
        memberData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberData'
        form1099Balances:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/90f96495b02c2509fff131505484d46479a91b7d23ed2b0f438ca117d0bccad7
        formW9Data:
          oneOf:
            - type: 'null'
            - type: object
        clientData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ClientData'
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
    Ping:
      type: object
      properties:
        status:
          type: string
        code:
          type: number
        message:
          type: string
      required:
        - status
        - code
        - message
    InvoiceFeeCalculation:
      type: object
      properties:
        creditFeeTotal:
          type: number
      required:
        - creditFeeTotal
    TestInvoiceCreate:
      type: object
      properties:
        email:
          type: string
        contactName:
          type: string
      required:
        - email
        - contactName
    Card:
      type: object
      properties:
        type:
          type: string
          enum:
            - individualDebitCard
            - businessDebitCard
            - individualVirtualDebitCard
            - businessVirtualDebitCard
        createdAt:
          type: string
        last4Digits:
          type: string
        expirationDate:
          type: string
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Stolen
            - Lost
            - Frozen
            - ClosedByCustomer
            - SuspectedFraud
        brand:
          type: string
        internal:
          $ref: >-
            #/components/schemas/c43d8e931fa2aa65f8160dad6cddeff3ae5f333e9b96d96dc85708e786c6a875
      required:
        - type
        - createdAt
        - last4Digits
        - expirationDate
        - status
        - brand
        - internal
    CardCreateRequest:
      type: object
      properties:
        requestPhysicalCard:
          oneOf:
            - type: 'null'
            - type: boolean
        shippingAddress:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Address'
    CardDetails:
      type: object
      properties:
        name:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        pinSet:
          oneOf:
            - type: 'null'
            - type: boolean
        type:
          type: string
          enum:
            - individualDebitCard
            - businessDebitCard
            - individualVirtualDebitCard
            - businessVirtualDebitCard
        createdAt:
          type: string
        last4Digits:
          type: string
        expirationDate:
          type: string
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Stolen
            - Lost
            - Frozen
            - ClosedByCustomer
            - SuspectedFraud
        brand:
          type: string
        internal:
          $ref: >-
            #/components/schemas/c43d8e931fa2aa65f8160dad6cddeff3ae5f333e9b96d96dc85708e786c6a875
      required:
        - name
        - address
        - type
        - createdAt
        - last4Digits
        - expirationDate
        - status
        - brand
        - internal
    CardUpdateRequest:
      type: object
      properties:
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Stolen
            - Lost
            - Frozen
            - ClosedByCustomer
      required:
        - status
    CardCodeRequest:
      type: object
      properties:
        channel:
          type: string
      required:
        - channel
    CardCodeResponse:
      type: object
      properties:
        verificationToken:
          type: string
        phoneNumber:
          type: string
      required:
        - verificationToken
        - phoneNumber
    CardTokenRequest:
      type: object
      properties:
        verificationToken:
          type: string
        verificationCode:
          type: string
      required:
        - verificationToken
        - verificationCode
    CardTokenResponse:
      type: object
      properties:
        token:
          type: string
        cardId:
          type: string
      required:
        - token
        - cardId
    InstantPayoutResponse:
      type: object
      properties:
        instantPayoutAccountId:
          type: string
        instantPayoutAccount:
          $ref: '#/components/schemas/FundsTransferAccount'
      required:
        - instantPayoutAccountId
        - instantPayoutAccount
    InstantPayoutRequest:
      type: object
      properties:
        externalPayoutAccountToken:
          type: string
      required:
        - externalPayoutAccountToken
    BankStatement:
      type: object
      properties:
        name:
          type: string
        accountId:
          type: string
        date:
          type: string
        id:
          type: string
      required:
        - name
        - accountId
        - date
        - id
    BankingApplicationForm:
      type: object
      properties:
        applicationLink:
          type: string
        memberId:
          type: string
      required:
        - applicationLink
        - memberId
    EligibilityRequirementCreateRequest:
      type: object
      properties:
        requirementType:
          type: string
          enum:
            - Signature
        templateId:
          oneOf:
            - type: 'null'
            - type: string
        validFor:
          oneOf:
            - type: 'null'
            - type: number
      required:
        - requirementType
    EligibilityRequirement:
      type: object
      properties:
        clientId:
          type: string
        eligibilityRequirementId:
          type: string
        validFor:
          oneOf:
            - type: 'null'
            - type: number
        requirementType:
          type: string
          enum:
            - Signature
        templateId:
          oneOf:
            - type: 'null'
            - type: string
      required:
        - clientId
        - eligibilityRequirementId
        - requirementType
    EligibilityRequirementUpdateRequest:
      type: object
      properties:
        requirementType:
          type: string
          enum:
            - Signature
        templateId:
          oneOf:
            - type: 'null'
            - type: string
        validFor:
          oneOf:
            - type: 'null'
            - type: number
      required:
        - requirementType
    PaymentEligibility:
      type: object
      properties:
        field:
          type: string
        value:
          type: string
      required:
        - field
        - value
    PaymentEligibilityUpdateRequest:
      type: object
      properties:
        field:
          oneOf:
            - type: 'null'
            - type: string
        value:
          oneOf:
            - type: 'null'
            - type: object
    AdditionalData:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
        type:
          type: string
          enum:
            - Boolean
            - String
        required:
          type: boolean
      required:
        - name
        - key
        - type
        - required
    AdditionalDataUpdateRequest:
      type: object
      properties:
        name:
          oneOf:
            - type: 'null'
            - type: string
        key:
          oneOf:
            - type: 'null'
            - type: string
        type:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Boolean
                - String
        required:
          oneOf:
            - type: 'null'
            - type: boolean
    DeductionCreateRequest:
      type: object
      properties:
        clientId:
          type: string
        memberId:
          type: string
        amount:
          type: number
        currency:
          type: string
          enum:
            - USD
            - CAD
        priority:
          oneOf:
            - type: 'null'
            - type: number
        type:
          type: string
          enum:
            - PrePayment
            - PostPayment
        sourceInvoiceId:
          oneOf:
            - type: 'null'
            - type: string
        startDate:
          oneOf:
            - type: 'null'
            - type: string
        name:
          type: string
      required:
        - clientId
        - memberId
        - amount
        - currency
        - type
        - name
    DeductionResponse:
      type: object
      properties:
        deductionId:
          type: string
        deductionTemplateId:
          oneOf:
            - type: 'null'
            - type: string
        amount:
          type: number
        currency:
          type: string
          enum:
            - USD
            - CAD
        application:
          type: array
          items:
            $ref: '#/components/schemas/DeductionApplication'
        disbursement:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/PostPaymentDeductionDisbursement'
        priority:
          type: number
        type:
          type: string
          enum:
            - PrePayment
            - PostPayment
        sourceInvoiceId:
          oneOf:
            - type: 'null'
            - type: string
        startDate:
          type: string
        status:
          type: string
          enum:
            - Pending
            - PartiallyApplied
            - Complete
        name:
          type: string
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        memberId:
          type: string
        clientId:
          type: string
      required:
        - deductionId
        - amount
        - currency
        - application
        - priority
        - type
        - startDate
        - status
        - name
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - memberId
        - clientId
    DeductionUpdateRequest:
      type: object
      properties:
        amount:
          oneOf:
            - type: 'null'
            - type: number
        currency:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - USD
                - CAD
        priority:
          oneOf:
            - type: 'null'
            - type: number
        type:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - PrePayment
                - PostPayment
        sourceInvoiceId:
          oneOf:
            - type: 'null'
            - type: string
        startDate:
          oneOf:
            - type: 'null'
            - type: string
        name:
          oneOf:
            - type: 'null'
            - type: string
    PayrollSettings:
      type: object
      properties:
        issue1099s:
          oneOf:
            - type: 'null'
            - type: boolean
        processDaysBeforeDue:
          oneOf:
            - type: 'null'
            - type: number
        enableProcessDaysBeforeDue:
          oneOf:
            - type: 'null'
            - type: boolean
        enablePlannedPayroll:
          oneOf:
            - type: 'null'
            - type: boolean
        workflow:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - SingleStage
                - DualStage
        fundingSource:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FundingSource'
        calculationSettings1099:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/CalculationSettings1099'
        frequency:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Frequency'
        scheduleDates:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/ScheduleDate'
        status:
          type: string
          enum:
            - Active
            - Draft
            - Expired
            - Cancelled
      required:
        - status
    PayrollSettingsUpdate:
      type: object
      properties:
        frequency:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FrequencyUpdate'
        scheduleDates:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/ScheduleDateUpdate'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Draft
                - Expired
                - Cancelled
        issue1099s:
          oneOf:
            - type: 'null'
            - type: boolean
        processDaysBeforeDue:
          oneOf:
            - type: 'null'
            - type: number
        enableProcessDaysBeforeDue:
          oneOf:
            - type: 'null'
            - type: boolean
        enablePlannedPayroll:
          oneOf:
            - type: 'null'
            - type: boolean
        workflow:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - SingleStage
                - DualStage
        fundingSource:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FundingSource'
        calculationSettings1099:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/CalculationSettings1099'
    CollaboratorEvents:
      type: object
      properties:
        signedUpAt:
          oneOf:
            - type: 'null'
            - type: string
        taxDocumentationVerifiedAt:
          type: string
        knowYourCustomerVerifiedAt:
          type: string
        payoutMethodFirstAddedAt:
          type: string
      required:
        - taxDocumentationVerifiedAt
        - knowYourCustomerVerifiedAt
        - payoutMethodFirstAddedAt
    CollaboratorSchema:
      type: object
      properties:
        collaboratorId:
          type: string
        clientId:
          type: string
        memberId:
          type: string
        member:
          $ref: '#/components/schemas/RedactedMember'
        achCreditAccount:
          $ref: '#/components/schemas/MemberClientWireAccount'
        internationalWireAccount:
          $ref: '#/components/schemas/MemberClientWireAccount'
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        eligibilityRequirements:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/MemberClientRequirementResponse'
        form1099Balances:
          $ref: >-
            #/components/schemas/b9789f45f8c8070ff38a64d80c2e4a8732ddaf329e46546474400d26f84c0f1c
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/26e8ea23ccb1e007e7d6560175c7e75c768dac34727b7fe1d834ca24b8221ef4
        formW9Data:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberClientFormW9Info'
        taxStatus:
          type: string
          enum:
            - Complete
            - Failed
            - Pending
            - Incomplete
        collaboratorGroupIds:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - type: string
        clientData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ClientData'
        memberData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberData'
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
      required:
        - collaboratorId
        - clientId
        - memberId
        - member
        - achCreditAccount
        - internationalWireAccount
        - status
        - form1099Balances
        - taxStatus
        - userRoles
        - createdAt
        - updatedAt
        - labels
    CollaboratorUpdateRequest:
      type: object
      properties:
        form1099Balances:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/90f96495b02c2509fff131505484d46479a91b7d23ed2b0f438ca117d0bccad7
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/26e8ea23ccb1e007e7d6560175c7e75c768dac34727b7fe1d834ca24b8221ef4
        formW9Data:
          oneOf:
            - type: 'null'
            - type: object
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Inactive
                - Pending
        clientData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ClientData'
    CollaboratorCreateRequest:
      type: object
      properties:
        clientId:
          type: string
        memberCompany:
          oneOf:
            - type: 'null'
            - type: string
        memberName:
          oneOf:
            - type: 'null'
            - type: string
        memberEmail:
          oneOf:
            - type: 'null'
            - type: string
        memberId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorGroupId:
          oneOf:
            - type: 'null'
            - type: string
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/26e8ea23ccb1e007e7d6560175c7e75c768dac34727b7fe1d834ca24b8221ef4
        formW9Data:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberClientFormW9Info'
        clientData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ClientData'
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Inactive
                - Pending
      required:
        - clientId
    CollaboratorGroupResponse:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        eligibilityRequirements:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/EligibilityRequirement'
        defaultGroup:
          type: boolean
        collaboratorGroupId:
          type: string
        collaboratorSettings:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        clientId:
          type: string
      required:
        - name
        - description
        - defaultGroup
        - collaboratorGroupId
        - clientId
    CollaboratorGroupCreateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        eligibilityRequirements:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/CollaboratorGroupRequirement'
        collaboratorSettings:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
      required:
        - name
        - description
    CollaboratorGroupRequirementUpdate:
      type: object
      properties:
        newEligibilityRequirementId:
          type: string
      required:
        - newEligibilityRequirementId
    CollaboratorGroupUpdateRequest:
      type: object
      properties:
        name:
          oneOf:
            - type: 'null'
            - type: string
        description:
          oneOf:
            - type: 'null'
            - type: string
        eligibilityRequirements:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/CollaboratorGroupRequirement'
        collaboratorSettings:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
    Download1099Response:
      type: object
      properties: {}
    DownloadW9Response:
      type: object
      properties: {}
    Calculate1099Request:
      type: object
      properties:
        memberClientId:
          type: string
        year:
          type: number
      required:
        - memberClientId
        - year
    Calculate1099Response:
      type: object
      properties:
        memberClient:
          $ref: '#/components/schemas/MemberClient'
      required:
        - memberClient
    Remail1099Request:
      type: object
      properties:
        memberId:
          type: string
        year:
          type: number
        documentIndex:
          oneOf:
            - type: 'null'
            - type: number
        address:
          $ref: >-
            #/components/schemas/7b49dbbd81f36ab6d7b4f07c5e2e53f40e36eb7b83d1488f379e993b830eec56
      required:
        - memberId
        - year
        - address
    Remail1099Response:
      type: object
      properties: {}
    Mark1099AsUndeliveredRequest:
      type: object
      properties:
        memberId:
          type: string
        year:
          type: number
        submissionIndex:
          type: number
      required:
        - memberId
        - year
        - submissionIndex
    Mark1099AsUndeliveredResponse:
      type: object
      properties: {}
    InstitutionResponse:
      type: object
      properties:
        routingNumber:
          type: string
        name:
          type: string
        address:
          type: string
        isACHSupported:
          type: boolean
        isWireSupported:
          type: boolean
        isRTPSupported:
          type: boolean
      required:
        - routingNumber
        - name
        - address
        - isACHSupported
        - isWireSupported
        - isRTPSupported
    CheckbookCard:
      type: object
      properties:
        cardId:
          type: string
        brand:
          type: string
          enum:
            - AmericanExpress
            - Visa
            - Mastercard
            - Discover
            - DinersClub
            - JCB
        last4:
          type: string
        expirationYYYY:
          type: string
        expirationMM:
          type: string
        address:
          $ref: '#/components/schemas/Address'
      required:
        - cardId
        - brand
        - last4
        - expirationYYYY
        - expirationMM
        - address
    CheckbookCardCreate:
      type: object
      properties:
        cardNumber:
          type: string
        expYYYY:
          type: string
        expMM:
          type: string
        cvv:
          oneOf:
            - type: 'null'
            - type: string
        name:
          type: string
        address:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/Address'
      required:
        - cardNumber
        - expYYYY
        - expMM
        - name
    PayoutSettingsResponse:
      type: object
      properties:
        payoutDestinations:
          type: array
          items:
            $ref: '#/components/schemas/PayoutDestinationResponse'
        payoutPreferences:
          type: string
          enum:
            - Standard
            - Instant
            - Expedited
            - Check
            - ECheck
      required:
        - payoutDestinations
        - payoutPreferences
    PayoutSettingsUpdate:
      type: object
      properties:
        payoutDestinations:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - $ref: '#/components/schemas/PayoutDestinationUpdate'
        payoutPreferences:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Standard
                - Instant
                - Expedited
                - Check
                - ECheck
    BulkPayableBatch:
      type: object
      properties:
        bulkPayableBatchId:
          type: string
        client:
          $ref: '#/components/schemas/RedactedMember'
        processingStrategy:
          type: string
          enum:
            - Merge
            - Single
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        statistics:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        clientId:
          type: string
      required:
        - bulkPayableBatchId
        - client
        - processingStrategy
        - status
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - clientId
    BulkPayableBatchCreate:
      type: object
      properties:
        processingStrategy:
          type: string
          enum:
            - Merge
            - Single
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
      required:
        - processingStrategy
    BulkPayableBatchUpdate:
      type: object
      properties:
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Open
                - Pending
                - Processing
                - Complete
                - Failed
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
    BulkPayableItem:
      type: object
      properties:
        bulkPayableItemId:
          type: string
        bulkPayableBatchId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        bulkPayableItemReference:
          oneOf:
            - type: 'null'
            - type: string
        bulkPayableItemMergeKey:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorEmail:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorExternalId:
          oneOf:
            - type: 'null'
            - type: string
        payableStatus:
          type: string
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
        amount:
          type: number
        lineItemDescription:
          type: string
        lineItemDetail:
          oneOf:
            - type: 'null'
            - type: string
        dueDate:
          type: string
        paidDate:
          type: string
        payableNotes:
          oneOf:
            - type: 'null'
            - type: string
        reimbursableExpense:
          oneOf:
            - type: 'null'
            - type: boolean
        attachmentId:
          oneOf:
            - type: 'null'
            - type: string
        workflowSubStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Submitted
        integration:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceIntegrations'
        metadata:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/a7a1067d6f9d1831e4782756623a7bf61cb630a037de1ac86f003bc5c4cb7c14
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        clientId:
          type: string
      required:
        - bulkPayableItemId
        - bulkPayableBatchId
        - status
        - payableStatus
        - amount
        - lineItemDescription
        - dueDate
        - paidDate
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - clientId
    BulkPayableItemCreate:
      type: object
      properties:
        bulkPayableBatchId:
          type: string
        bulkPayableItemReference:
          oneOf:
            - type: 'null'
            - type: string
        bulkPayableItemMergeKey:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorEmail:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorExternalId:
          oneOf:
            - type: 'null'
            - type: string
        payableStatus:
          type: string
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
        amount:
          type: number
        lineItemDescription:
          type: string
        lineItemDetail:
          oneOf:
            - type: 'null'
            - type: string
        dueDate:
          type: string
        paidDate:
          oneOf:
            - type: 'null'
            - type: string
        payableNotes:
          oneOf:
            - type: 'null'
            - type: string
        reimbursableExpense:
          oneOf:
            - type: 'null'
            - type: boolean
        attachmentId:
          oneOf:
            - type: 'null'
            - type: string
        workflowSubStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Submitted
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
      required:
        - bulkPayableBatchId
        - payableStatus
        - amount
        - lineItemDescription
        - dueDate
    BulkPayableImportSummary:
      type: object
      properties:
        totalPayableItems:
          type: number
        netImportAmount:
          type: number
        totalPayablesAmount:
          type: number
        payableCollaboratorsCount:
          type: number
        toBeCreatedPayablesCount:
          type: number
        toBeUpdatedPayablesCount:
          type: number
        totalDeductionsAmount:
          type: number
        deductionCollaboratorsCount:
          type: number
        toBeCreatedDeductionsCount:
          type: number
        toBeUpdatedDeductionsCount:
          type: number
      required:
        - totalPayableItems
        - netImportAmount
        - totalPayablesAmount
        - payableCollaboratorsCount
        - toBeCreatedPayablesCount
        - toBeUpdatedPayablesCount
        - totalDeductionsAmount
        - deductionCollaboratorsCount
        - toBeCreatedDeductionsCount
        - toBeUpdatedDeductionsCount
    BulkPayableItemUpdate:
      type: object
      properties:
        bulkPayableBatchId:
          oneOf:
            - type: 'null'
            - type: string
        bulkPayableItemReference:
          oneOf:
            - type: 'null'
            - type: string
        bulkPayableItemMergeKey:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorEmail:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorExternalId:
          oneOf:
            - type: 'null'
            - type: string
        payableStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Draft
                - Open
                - Approved
                - Paid
                - Cancelled
        amount:
          oneOf:
            - type: 'null'
            - type: number
        lineItemDescription:
          oneOf:
            - type: 'null'
            - type: string
        lineItemDetail:
          oneOf:
            - type: 'null'
            - type: string
        dueDate:
          oneOf:
            - type: 'null'
            - type: string
        paidDate:
          oneOf:
            - type: 'null'
            - type: string
        payableNotes:
          oneOf:
            - type: 'null'
            - type: string
        reimbursableExpense:
          oneOf:
            - type: 'null'
            - type: boolean
        attachmentId:
          oneOf:
            - type: 'null'
            - type: string
        workflowSubStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Submitted
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
    BulkInvoiceBatch:
      type: object
      properties:
        bulkInvoiceBatchId:
          type: string
        processingStrategy:
          type: string
          enum:
            - Merge
            - Single
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        statistics:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        memberId:
          type: string
      required:
        - bulkInvoiceBatchId
        - processingStrategy
        - status
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - memberId
    BulkInvoiceBatchCreate:
      type: object
      properties:
        processingStrategy:
          type: string
          enum:
            - Merge
            - Single
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
      required:
        - processingStrategy
    BulkInvoiceBatchUpdate:
      type: object
      properties:
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Open
                - Pending
                - Processing
                - Complete
                - Failed
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
    BulkInvoiceItem:
      type: object
      properties:
        bulkInvoiceItemId:
          type: string
        bulkInvoiceBatchId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        bulkInvoiceItemReference:
          oneOf:
            - type: 'null'
            - type: string
        bulkInvoiceItemMergeKey:
          oneOf:
            - type: 'null'
            - type: string
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        clientEmail:
          oneOf:
            - type: 'null'
            - type: string
        memberClientId:
          oneOf:
            - type: 'null'
            - type: string
        clientExternalId:
          oneOf:
            - type: 'null'
            - type: string
        invoiceStatus:
          type: string
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        amount:
          type: number
        lineItemDescription:
          type: string
        lineItemDetail:
          oneOf:
            - type: 'null'
            - type: string
        dueDate:
          type: string
        sendDate:
          oneOf:
            - type: 'null'
            - type: string
        paidDate:
          type: string
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        reimbursableExpense:
          oneOf:
            - type: 'null'
            - type: boolean
        integration:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/InvoiceIntegrations'
        metadata:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/c1b9877fd1d35a4292006c3c09941c1c5c21bbe2e0e87488661804eebf2a3e4a
        projectName:
          oneOf:
            - type: 'null'
            - type: string
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        memberId:
          type: string
      required:
        - bulkInvoiceItemId
        - bulkInvoiceBatchId
        - status
        - invoiceStatus
        - amount
        - lineItemDescription
        - dueDate
        - paidDate
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - memberId
    BulkInvoiceItemCreate:
      type: object
      properties:
        bulkInvoiceBatchId:
          type: string
        bulkInvoiceItemReference:
          oneOf:
            - type: 'null'
            - type: string
        bulkInvoiceItemMergeKey:
          oneOf:
            - type: 'null'
            - type: string
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        clientEmail:
          oneOf:
            - type: 'null'
            - type: string
        memberClientId:
          oneOf:
            - type: 'null'
            - type: string
        clientExternalId:
          oneOf:
            - type: 'null'
            - type: string
        invoiceStatus:
          type: string
          enum:
            - Draft
            - Open
            - Approved
            - Paid
            - Cancelled
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        amount:
          type: number
        lineItemDescription:
          type: string
        lineItemDetail:
          oneOf:
            - type: 'null'
            - type: string
        dueDate:
          type: string
        sendDate:
          oneOf:
            - type: 'null'
            - type: string
        paidDate:
          oneOf:
            - type: 'null'
            - type: string
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        reimbursableExpense:
          oneOf:
            - type: 'null'
            - type: boolean
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        projectName:
          oneOf:
            - type: 'null'
            - type: string
      required:
        - bulkInvoiceBatchId
        - invoiceStatus
        - amount
        - lineItemDescription
        - dueDate
    BulkInvoiceItemUpdate:
      type: object
      properties:
        bulkInvoiceBatchId:
          oneOf:
            - type: 'null'
            - type: string
        bulkInvoiceItemReference:
          oneOf:
            - type: 'null'
            - type: string
        bulkInvoiceItemMergeKey:
          oneOf:
            - type: 'null'
            - type: string
        acceptedPaymentMethods:
          oneOf:
            - type: 'null'
            - type: array
              items:
                oneOf:
                  - type: 'null'
                  - enum:
                      - Credit
                      - ACH
                      - Manual
        clientEmail:
          oneOf:
            - type: 'null'
            - type: string
        memberClientId:
          oneOf:
            - type: 'null'
            - type: string
        clientExternalId:
          oneOf:
            - type: 'null'
            - type: string
        invoiceStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Draft
                - Open
                - Approved
                - Paid
                - Cancelled
        creditFeeHandling:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/FeeHandlingConfig'
        amount:
          oneOf:
            - type: 'null'
            - type: number
        lineItemDescription:
          oneOf:
            - type: 'null'
            - type: string
        lineItemDetail:
          oneOf:
            - type: 'null'
            - type: string
        dueDate:
          oneOf:
            - type: 'null'
            - type: string
        sendDate:
          oneOf:
            - type: 'null'
            - type: string
        paidDate:
          oneOf:
            - type: 'null'
            - type: string
        invoiceNotes:
          oneOf:
            - type: 'null'
            - type: string
        reimbursableExpense:
          oneOf:
            - type: 'null'
            - type: boolean
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        projectName:
          oneOf:
            - type: 'null'
            - type: string
    BulkCollaboratorBatch:
      type: object
      properties:
        bulkCollaboratorBatchId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        statistics:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        clientId:
          type: string
      required:
        - bulkCollaboratorBatchId
        - status
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - clientId
    BulkBatchCreate:
      type: object
      properties:
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
    BulkBatchUpdate:
      type: object
      properties:
        status:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Open
                - Pending
                - Processing
                - Complete
                - Failed
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
    BulkCollaboratorItem:
      type: object
      properties:
        bulkCollaboratorItemId:
          type: string
        bulkCollaboratorBatchId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        firstLastName:
          oneOf:
            - type: 'null'
            - type: string
        memberId:
          oneOf:
            - type: 'null'
            - type: string
        email:
          oneOf:
            - type: 'null'
            - type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        externalId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorGroupId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorStatus:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        formW9Data:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberClientFormW9Info'
        metadata:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/8cf19a7bc90727398c2780566a4070199559f4723ec14c01c448dc0356efffa1
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        clientId:
          type: string
      required:
        - bulkCollaboratorItemId
        - bulkCollaboratorBatchId
        - status
        - collaboratorStatus
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - clientId
    BulkCollaboratorItemCreate:
      type: object
      properties:
        firstLastName:
          oneOf:
            - type: 'null'
            - type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        email:
          oneOf:
            - type: 'null'
            - type: string
        externalId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorId:
          oneOf:
            - type: 'null'
            - type: string
        formW9Data:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberClientFormW9Info'
        collaboratorGroupId:
          oneOf:
            - type: 'null'
            - type: string
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        collaboratorStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Inactive
                - Pending
    BulkCollaboratorItemUpdate:
      type: object
      properties:
        firstLastName:
          oneOf:
            - type: 'null'
            - type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        email:
          oneOf:
            - type: 'null'
            - type: string
        externalId:
          oneOf:
            - type: 'null'
            - type: string
        collaboratorId:
          oneOf:
            - type: 'null'
            - type: string
        formW9Data:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberClientFormW9Info'
        collaboratorGroupId:
          oneOf:
            - type: 'null'
            - type: string
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        collaboratorStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Inactive
                - Pending
    BulkClientBatch:
      type: object
      properties:
        bulkClientBatchId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        statistics:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        memberId:
          type: string
      required:
        - bulkClientBatchId
        - status
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - memberId
    BulkClientItem:
      type: object
      properties:
        bulkClientItemId:
          type: string
        bulkClientBatchId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        firstLastName:
          oneOf:
            - type: 'null'
            - type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        email:
          oneOf:
            - type: 'null'
            - type: string
        externalId:
          oneOf:
            - type: 'null'
            - type: string
        memberClientId:
          oneOf:
            - type: 'null'
            - type: string
        clientStatus:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        memberData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberData'
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/d750b2d9403b5bcbdb3c96c89f1cc713df563d587f16e5f39f5ab546c08a20a0
        metadata:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/4091c2911630f24a45153ca60a204edf3efba15902cef686d412c191e0c18cac
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        memberId:
          type: string
      required:
        - bulkClientItemId
        - bulkClientBatchId
        - status
        - clientStatus
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - memberId
    BulkClientItemCreate:
      type: object
      properties:
        firstLastName:
          oneOf:
            - type: 'null'
            - type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        email:
          oneOf:
            - type: 'null'
            - type: string
        externalId:
          oneOf:
            - type: 'null'
            - type: string
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        clientStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Inactive
                - Pending
        memberData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberData'
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/d750b2d9403b5bcbdb3c96c89f1cc713df563d587f16e5f39f5ab546c08a20a0
    BulkClientItemUpdate:
      type: object
      properties:
        firstLastName:
          oneOf:
            - type: 'null'
            - type: string
        company:
          oneOf:
            - type: 'null'
            - type: string
        email:
          oneOf:
            - type: 'null'
            - type: string
        externalId:
          oneOf:
            - type: 'null'
            - type: string
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
        clientStatus:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Active
                - Inactive
                - Pending
        memberData:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/MemberData'
        integration:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/d750b2d9403b5bcbdb3c96c89f1cc713df563d587f16e5f39f5ab546c08a20a0
    BulkCalculation1099Batch:
      type: object
      properties:
        bulkCalculation1099BatchId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        statistics:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/757f4961b94334fd41cedc27262be7b14583377703cda6490b996969bd4e66c2
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
        clientId:
          type: string
      required:
        - bulkCalculation1099BatchId
        - status
        - userRoles
        - createdAt
        - updatedAt
        - labels
        - clientId
    BulkCalculation1099Item:
      type: object
      properties:
        bulkCalculation1099ItemId:
          type: string
        bulkCalculation1099BatchId:
          type: string
        status:
          type: string
          enum:
            - Open
            - Pending
            - Processing
            - Complete
            - Failed
        calculationType:
          type: string
          enum:
            - Balances
            - Submissions
        clientId:
          type: string
        year:
          type: number
        metadata:
          oneOf:
            - type: 'null'
            - $ref: >-
                #/components/schemas/865969bc2d9a3cb12c3263d4f941da6e1c7783024804b469db4a6eab9bc12f14
        userRoles:
          $ref: '#/components/schemas/UserRoles'
        createdAt:
          type: string
        updatedAt:
          type: string
        labels:
          $ref: '#/components/schemas/LabelsDictionary'
      required:
        - bulkCalculation1099ItemId
        - bulkCalculation1099BatchId
        - status
        - calculationType
        - clientId
        - year
        - userRoles
        - createdAt
        - updatedAt
        - labels
    BulkCalculation1099ItemCreate:
      type: object
      properties:
        clientId:
          type: string
        year:
          type: number
        calculationType:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Balances
                - Submissions
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
      required:
        - clientId
        - year
    BulkCalculation1099ItemUpdate:
      type: object
      properties:
        clientId:
          oneOf:
            - type: 'null'
            - type: string
        year:
          oneOf:
            - type: 'null'
            - type: number
        calculationType:
          oneOf:
            - type: 'null'
            - type: string
              enum:
                - Balances
                - Submissions
        labels:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/LabelsDictionary'
    CollaboratorV2:
      type: object
      properties:
        internal:
          $ref: >-
            #/components/schemas/9cd48bf78a297540b0ec6f45365beb8d6ce0ee88e6d244115ad226e6701011a3
        clientId:
          type: string
        memberId:
          type: string
        firstCollaborationId:
          type: string
        primaryCollaborationId:
          type: string
        member:
          $ref: '#/components/schemas/RedactedMember'
        achCreditAccount:
          $ref: '#/components/schemas/MemberClientWireAccount'
        internationalWireAccount:
          $ref: '#/components/schemas/MemberClientWireAccount'
        status:
          type: string
          enum:
            - Active
            - Inactive
            - Pending
        taxStatus:
          type: string
          enum:
            - Complete
            - Failed
            - Pending
            - Incomplete
        clientData:
          oneOf:
[...]
